@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-color: #7aaace;
  --shadow-color: #355872;
  --hover-color: #9cd5ff;
  --red-line: #bf4646;
}

* {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  font: inherit;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

html,
body {
  width: 100dvw;
  height: 100%;
  position: relative;
}

main {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
}

.side-bar:has(#open-side-bar:checked) {
  width: 100%;
  height: 100%;
  background: (to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
}

#open-side-bar {
  display: none;
}

.side-bar__content {
  display: none;
  height: 100%;
  width: clamp(300px, 20dvw, 1000px);
}

#open-side-bar:checked ~ .side-bar__content {
  display: block;
  background-color: #355872;
}

.hamburguer-icon {
  font-size: x-large;
}

.hamburguer-icon:hover {
  cursor: pointer;
}

.to-do-view {
  width: clamp(320px, 900px, 75dvw);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.to-do-title {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.wrapper-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.tabs {
  display: flex;
  gap: 10px;
}

.tab-button.disabled {
  color: gray;
}

.tab-button,
#add-task {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 10px 2px 10px;
}

.tab-button.disabled:hover,
#add-task:hover {
  cursor: pointer;
  color: blue;
  border-color: blue;
}

.tab-button:not(.disabled) {
  border-bottom: 1px solid blue;
  color: blue;
}

#add-task .icon {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Courier New", monospace;
}

.wrapper-table {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.tasks-table {
  background-color: white;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  border-spacing: 0;
  border: 1px dotted gray;
}

.tasks-table:has(tbody:empty) {
  display: none;
}

.tasks-table th {
  font-size: 0.8rem;
  font-weight: bold;
  font-style: italic;
}

.tasks-table th,
.tasks-table td {
  border-bottom: 1px dotted gray;
  padding: 5px;
}

.col-checkbox {
  border-right: 1px solid var(--red-line);
  width: 10%;
}

.col-name {
  width: 60%;
}

.col-tag {
  width: 20%;
}

.col-trash {
  width: 10%;
}

.checkbox {
  transform: scale(1.4);
}

.checkbox:hover {
  cursor: pointer;
}

.trash {
  width: 20px;
  user-select: none;
  -webkit-user-drag: none;
}

.trash:hover {
  cursor: pointer;
}
